{{#if isCordovaApp}}
  <div class="row inventory-number">
    <div class="small-10 columns {{if invalid 'has-error'}}">

      {{input
        type="text"
        name=name
        id=inputId
        value=value
        placeholder=(t "receive_package.inventory")
      }}

      <i class="fa fa-exclamation-triangle"></i>
    </div>

    <div class="small-2 columns barcode-icon" {{action "inputInventory"}}>
      <i class= "fa fa-barcode"></i>
    </div>

  </div>
{{else}}

  <div class="row inventory-number">
    <div class="small-12 columns {{if invalid 'has-error'}}">

      {{input
        type="text"
        name=name
        id=inputId
        value=value
        placeholder=(t "receive_package.inventory")
      }}

      <i class="fa fa-exclamation-triangle"></i>
    </div>
  </div>
{{/if}}
