{{#if hasMultiplePackages}}
  <div class="text-center receive-group-header">{{item.itemType.name}}</div>
{{/if}}

{{#each packages as |package idx|}}
  <div>
    <div class="package-name">
      {{package.quantity}}x
      {{package.packageName}}
    </div>
    <img src="{{package.displayImageUrl}}" />
    <div>
      {{receive-menu packageId=package.id}}

      {{#if (js-x "this == 0" idx)}}
        {{js-x "p0.get('notes') ? p0.get('notes') : p1.get('donorDescription')" package item}}<br/>
      {{else}}
        {{package.notes}}<br/>
      {{/if}}
      <br/>
      {{package.dimensions}}
    </div>
  </div>
  <div class="sep"></div>
{{/each}}
