{{#if hasMultiplePackages}}
  <div class="text-center receive-group-header">{{item.itemType.name}}</div>
{{/if}}

{{#each packages as |package idx|}}
  <div>
    <div class="package-name package-{{pState}} {{if package.hasAllPackagesDispatched 'dispatched'}} {{if package.hasAllPackagesDesignated 'designated'}} {{if (js-and (is-not package.quantity) package.designatedOrdersPackages.length) 'designated'}}">
      <div class="small-4 columns">
        {{#toggle-receive-menu-list}}
          {{#if (is-equal pState "missing")}}
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{capitalize-string pState}}
          {{else if package.hasAllPackagesDesignated}}
            {{#if package.hasOneDesignatedPackage}}
              <i class="fa fa-shopping-basket"></i> {{package.designation.code}}
            {{else}}
              <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
            {{/if}}
          {{else if package.hasAllPackagesDispatched}}
            {{#if package.hasOneDispatchedPackage}}
              <i class="fa fa-ship"></i> {{package.hasOneDispatchedPackage.designation.code}}
            {{else}}
              <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
            {{/if}}
          {{else if (is-not package.quantity)}}
            {{#if package.hasOneDesignatedPackage}}
              <i class="fa fa-shopping-basket"></i> {{package.designation.code}}
            {{else if package.designatedOrdersPackages.length}}
              <i class="fa fa-shopping-basket"></i> {{t "item.multiple_designation"}}
            {{else if package.hasOneDispatchedPackage}}
              <i class="fa fa-ship"></i> {{package.hasOneDispatchedPackage.designation.code}}
            {{else if package.dispatchedOrdersPackages.length}}
              <i class="fa fa-ship"></i> {{t "item.all_dispatched"}}
            {{/if}}
          {{else}}
            {{#if (is-equal pState "expecting")}}
              {{t "item.accepted"}}
            {{else}}
              {{capitalize-string pState}}
            {{/if}}
          {{/if}}
        {{/toggle-receive-menu-list}}
      </div>
      <div class="small-4 columns location-name">
        {{#toggle-receive-menu-list}}
        {{#unless package.hasAllPackagesDispatched}}
          <i class="fa fa-map-marker"></i>
          {{#if package.hasSingleLocation}}
            {{package.firstLocationName}}
          {{else if package.hasMultiLocations}}
            Multiple
          {{else}}
            NA
          {{/if}}
        {{/unless}}
        {{/toggle-receive-menu-list}}
      </div>
      <div class="small-4 columns inventory-number">
        {{#toggle-receive-menu-list}}
          <i class="fa {{if item.isSet 'fa-tags' 'fa-tag'}}"></i>
          {{#if package.inventoryNumber}}
            {{package.inventoryNumber}}
          {{else}}
            NA
          {{/if}}
        {{/toggle-receive-menu-list}}
      </div>
    </div>
    <img src="{{package.displayImageUrl}}" />
    <div class="package-description">
      {{#toggle-receive-menu-list}}
        <div class="ellipsis name one-line-ellipsis" style="display: inline !important;">
          {{package.receivedQuantity}} x {{package.packageName}}
        </div>
        <span style="margin-left: 0.25rem;">{{package.remainingQty}}/{{package.totalDesignatedQty}}/{{package.totalDispatchedQty}}</span>
      {{/toggle-receive-menu-list}}
      {{receive-menu packageId=package.id}}
      {{#toggle-receive-menu-list}}
        <div class="ellipsis two-line-ellipsis">
          {{js-or package.notes item.donorDescription}}
        </div>
        <br/>
        {{package.dimensions}}
      {{/toggle-receive-menu-list}}
    </div>
  </div>
  <div class="sep"></div>
{{/each}}
