{{#if hasMultiplePackages}}
  <div class="text-center receive-group-header">{{item.itemType.name}}</div>
{{/if}}

{{#each packages as |package idx|}}
  <div>
    <div class="package-name">
      {{package.quantity}}x
      {{package.packageName}}
    </div>
    <img src="{{package.displayImageUrl}}" />
    <div>
      {{receive-menu packageId=package.id}}
      {{js-or package.notes item.donorDescription}}

      <br/><br/>
      {{package.dimensions}}
    </div>
  </div>
  <div class="sep"></div>
{{/each}}
