<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.index' this.offer.id classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Item Details</h1>
  </section>
</nav>

{{#validatable-form class="form-horizontal" action="submitItem" on="submit"}}

  <section class="main-section">
    <div class="row item-details">
      <div class="small-12 columns">

          <div class="row">
            <div class="small-4 large-2 columns fav-item-image">
              {{#link-to 'item.edit_images' class='edit-image-link'}}
                <img {{bind-attr src="displayImageUrl"}} class="thumb" style="width:100px;" />
                <div>{{t "items.add_item.edit_image"}} ({{imageCount}})</div>
              {{/link-to}}
            </div>

            <div class="small-8 large-10 columns">
              {{view "input-ui-control-with-counter" type="textarea" value=formData.donorDescription label="" name="donorDescription" rows=5 placeholder="item_description" maxlength="180" required='true' }}
              {{input type="hidden" value=offer.id name="offerId" }}
            </div>
          </div>

          {{donor-conditions selectedId=formData.donorConditionId}}

      </div>
    </div>
  </section>

  <div class="btm">
    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <button class='add_item_link button expand'>{{t "items.add_item.save"}}</button>
      </div>
    </div>
  </div>
{{/validatable-form}}
