<section class="main-section row">

  <div id="main-image" {{bind-attr class="isExpanded"}}>
    {{#unless noImage}}
      <div {{bind-attr style="previewImageBgCss"}}>
        <div id="main-image-controls">
          <a {{action "deleteImage"}} title={{t "items.edit_images.delete_tooltip"}}>
            <i class="fa fa-trash"></i>
          </a>
          <a {{action "setFavourite"}} title={{t "items.edit_images.favourite_tooltip"}}>
            <i {{bind-attr class=":fa previewImage.favourite:fa-star:fa-star-o"}}></i>
          </a>
          <a {{action "expandImage"}} title={{t "items.edit_images.fullscreen_tooltip"}}>
            <i {{bind-attr class=":fa isExpanded:fa-compress:fa-expand"}}></i>
          </a>
        </div>
      </div>
    {{else}}
    <div class="center-box" {{bind-attr style="instructionBoxCss"}}>
      <span class="center-item">
        <h3>{{t "items.edit_images.donating_what"}}</h3>
        <p>{{t "items.edit_images.take_photos"}}</p>
      </span>
    </div>
    {{/unless}}
  </div>

  <ul id="photo-list" {{bind-attr class="isExpanded:hidden"}}>
    <li>
      <a id="add-photo" {{action "triggerUpload"}} {{bind-attr class=":center-box isReady::disabled" style="thumbImageCss"}}>
        <span class="center-item">
          <i class="fa fa-camera"></i>
          {{addPhotoLabel}}
        </span>
      </a>
      {{cloudinary-upload ready="uploadReady" progress="uploadProgress"
        always="uploadComplete" done="uploadSuccess" submit="uploadProgress"
        style="display:none;"}}
    </li>
    {{#each image in images}}
      <li>
        <a {{action "setPreview" image}} {{bind-attr class="image.selected"}}>
          <img {{bind-attr src="image.thumbImageUrl" style="thumbImageCss"}} class="thumb" />
          <i {{bind-attr class=":fa :fa-star image.favourite::hidden"}}></i>
        </a>
      </li>
    {{/each}}
  </ul>
</section>

<div {{bind-attr class=":btm isExpanded:hidden"}}>
  <div class="row">
    <div class="small-6 columns">
      <button {{ action "back"}} class="button expand secondary">{{t "back"}}</button>
    </div>
    <div class="small-6 columns">
      <button {{ action "next"}} {{bind-attr disabled="noImage"}} class="button expand">{{t "next"}}</button>
    </div>
  </div>
</div>
