<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.offer_details' this.offer.id classNames="back"}}{{t "back"}}{{/link-to}}
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">{{t "item.item_details"}}</h1>
  </section>
</nav>
<section class="main-section item-details">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 large-2 columns fav-item-image">
          <img {{bind-attr src="displayImageUrl"}} class="thumb" style="width:100px;" />
        </div>
        <div class="small-9 large-10 columns">
          <h3 class="ellipsis two-line-ellipsis">{{donorDescription}}</h3>
          <div>
            {{t "item.condition" condition="donorCondition.name"}}
          </div>
        </div>
      </div>
      <div class="row item_actions">
        <a href="#" {{action 'removeItem' this}}>{{t "item.cancel"}}</a>
        {{#link-to 'item.edit' this class='edit_item_link'}}{{t "item.edit"}}{{/link-to}}
      </div>
    </div>
  </div>

  <hr class='seperator'>
</section>
