<nav class="tab-bar item_details_title">
  <section class="left-small">
    {{#link-to 'offer.offer_details' item.offer classNames="back"}}{{t "back"}}{{/link-to}}
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">{{t "item.item_details"}}</h1>
  </section>
</nav>

<section class="main-section item-details">
  <div class="row">
    <div class="small-12 columns">
      <div class= 'row'>
        {{partial 'item/status_message'}}
      </div>

      <div class="row">
        <div class="small-3 large-2 columns fav-item-image" id="lightGallery">
          <div {{bind-attr data-src=item.displayImage.imageUrl}} >
            <img {{bind-attr src=item.displayImageUrl}} class="thumb" style="width:100px;" />
          </div>
          {{#each image in item.nonFavouriteImages}}
            <div class="hidden" {{bind-attr data-src=image.imageUrl}} >
              <img {{bind-attr src=image.imageUrl}} />
            </div >
          {{/each}}
        </div>
        <div class="small-9 large-10 columns">
          <h3 class="ellipsis two-line-ellipsis">{{item.donorDescription}}</h3>
          <div>
            {{t "item.condition" condition=item.donorCondition.name}}
          </div>
        </div>
      </div>
      <div class="row item_actions">
        <a href="#" {{action 'removeItem' item}}>{{t "item.cancel"}}</a>
        {{#link-to 'item.edit' item class='edit_item_link'}}{{t "item.edit"}}{{/link-to}}
      </div>
    </div>
  </div>
</section>

{{partial 'message_template'}}
