<div id="confirmReceivingModal" class="small reveal-modal ui" data-options="close_on_background_click:false" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="receive_title">{{t "receive.receiving.header"}}</div>

  <div>{{t "receive.receiving.cant_modify_note"}}</div>

  {{t "mark_received.delivered_by"}}<br/>

  {{select-list
    content=deliveredOptions
    on-change=(action (mut deliveredBy))
    selectedValue=deliveredBy
    selectArrow=true}}

  <a class="right button closeLink action1">{{t "receive.receiving.not_now"}}</a>
  <a {{action "startReceivingOffer"}} class="right button confirmLink action2">{{t "receive.receiving.begin_receiving"}}</a>
</div>
