<div class="tabs-content">
  <section class="main-section">
    <div class="row">
      <div class="small-2 columns">
        <span class="no-avatar">{{model.nameInitial}}</span>
      </div>

      <div class="small-10 columns">

        <div class="row">
          <div class="small-5 columns">
            {{fullName}}
          </div>
          <div class="small-7 columns">
            {{mobile}}
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            District:
          </div>
          <div class="small-7 columns">
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            Registered:
          </div>
          <div class="small-7 columns">
            {{display-timeago createdAt}}
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            Last seen:
          </div>
          <div class="small-7 columns">
            3h ago
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            Total offers:
          </div>
          <div class="small-7 columns">
            {{donations.length}}
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            CRM
          </div>
          <div class="small-7 columns">
            12 opportunities
          </div>
        </div>


      </div>
    </div>

    <div class="row">

    </div>
  </section>
</div>
