{{#if offer.nonEmptyOffer}}
  {{#if offerReadyForClosure}}
    <div class="offer-status is-closed">
      <div class='status-message review_message'>
        {{t "review_offer.all_items_processed"}}
        <a {{action "closeReceivedOffer"}}>{{t "review_offer.close_offer"}}</a>
      </div>
    </div>

  {{else if offer.isReceiving}}
    <div class="offer-status is-received">
      <div class='status-message review_message'>
        {{t "review_offer.goods_start_receiving_by" firstName=offer.receivedBy.firstName lastName=offer.receivedBy.lastName}} {{time-ago timeValue=offer.startReceivingAt}}
      </div>
    </div>

  {{else if offer.isReceived}}
    <div class="offer-status is-received">
      <div class='status-message review_message'>
        {{t "review_offer.goods_received_by" firstName=offer.createdBy.firstName lastName=offer.createdBy.lastName}} {{time-ago timeValue=offer.receivedAt}}
      </div>
    </div>
  {{else if offer.isSubmitted}}
    <a {{action 'startReview'}} class="{{if isStartReviewClicked 'waiting' 'start_review_link'}}">
      <div class="offer-status is-submitted">
        <div class='status-message'>
          {{t "review_offer.start_review"}}
          {{#if isStartReviewClicked}}
            <img src="assets/images/waiting.gif" alt="">
          {{/if}}
        </div>
      </div>
    </a>
  {{else if offer.isReviewed}}
    <div class="offer-status is-reviewed">
      <div class='status-message review_message'>
        {{t "review_offer.reviewed"}} {{time-ago timeValue=offer.reviewCompletedAt}}. {{t "review_offer.plan_transport"}}
      </div>
    </div>
  {{else if offer.isScheduled}}
    <div class="offer-status is-scheduled">
      <div class='status-message'>
        {{#with offer.delivery as |delivery|}}
          {{#if delivery.isAlternate}}
            {{t 'offer.offer_details.is_collection'}}
          {{/if}}

          {{#if delivery.isDropOff}}
            {{t 'offer.offer_details.is_drop_off'}}
          {{/if}}

          {{#if delivery.isGogovan}}
            {{#if delivery.gogovanOrder.isActive}}
              {{t 'offer.offer_details.is_gogovan_confirm'}}
            {{else if delivery.gogovanOrder.isCompleted}}
              {{t 'offer.offer_details.driver_completed'}}
            {{else}}
              {{t 'offer.offer_details.is_gogovan_order'}}
            {{/if}}
          {{/if}}

          <i class="fa fa-truck"></i>
          <b>
            {{#if delivery.completedWithGogovan}}
              {{completed-time-status offer.delivery.gogovanOrder.completedAt}}
            {{else if delivery.isGogovan}}
              {{delivery.schedule.slotName}},
              {{schedule-time-status delivery.schedule.scheduledAt}}
            {{else}}
              {{schedule-time-status delivery.schedule.scheduledAt}}
              {{delivery.schedule.dayTime}}
            {{/if}}
          </b>
        {{/with}}
      </div>
    </div>
  {{!-- Cancelled Offer --}}
  {{else if offer.isCancelled}}
    <div class="offer-status is-closed">
      <div class='status-message review_message'>
        {{t "review_offer.offer_cancelled_by" firstName=offer.createdBy.firstName lastName=offer.createdBy.lastName}}
        {{cancel-offer-date-time offer.cancelledAt}}
      </div>
    </div>
  {{else if offer.isClosed}}
    <div class="offer-status is-closed">
      <div class='status-message review_message'>
        {{t "review_offer.offer_closed_by" firstName=offer.closedBy.firstName lastName=offer.closedBy.lastName}} {{time-ago timeValue=offer.reviewCompletedAt}}
      </div>
    </div>
  {{else if offer.allItemsRejected}}
    <div class="offer-status is-submitted">
      <div class='status-message'>
        {{t "review_offer.no_items"}} <i class="fa fa-frown-o"></i> <a {{action 'closeOffer'}}>{{t "review_offer.close_offer"}}</a>
      </div>
    </div>
  {{else if offer.allItemsReviewed}}
    <div class="offer-status is-submitted">
      <div class='status-message'>
        {{t "review_offer.items_reviewed"}} <i class="fa fa-smile-o"></i> {{#link-to 'review_offer.logistics' offer }}{{t "review_offer.set_logistics"}}{{/link-to}} {{t "review_offer.to_complete"}}
      </div>
    </div>
  {{else if offer.isUnderReview}}
    <div class="offer-status is-under-review">
      <div class='status-message review_message'>
        {{t "review_offer.review_started_by" firstName=offer.reviewedBy.firstName lastName=offer.reviewedBy.lastName}}
        {{time-ago timeValue=offer.reviewedAt}}
      </div>
    </div>
  {{/if}}
{{else}}
<div class="offer-status is-closed">
  <div class='status-message review_message'>{{t "offer.empty_msg"}}</div>
</div>
{{/if}}
