<br/>
<section id="receive-list-menu" class="main-section review_offer">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>
  {{#link-to 'review_offer.receive' (query-params state="expecting") tagName="dd" classNames="small-4 columns text-center"}}
    {{#link-to 'review_offer.receive' (query-params state="expecting")}}
      <div>{{t "review_offer.expecting"}}</div>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'review_offer.receive' (query-params state="received") tagName="dd" classNames="small-4 columns text-center"}}
    {{#link-to 'review_offer.receive' (query-params state="received")}}
      <div>{{t "review_offer.received"}}</div>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'review_offer.receive' (query-params state="missing") tagName="dd" classNames="small-4 columns text-center"}}
    {{#link-to 'review_offer.receive' (query-params state="missing")}}
      <div>{{t "review_offer.missing"}}</div>
    {{/link-to}}
  {{/link-to}}
      </dl>
    </div>
  </div>
</section>

<ul class="list receive-list">
{{#each item in items}}
  <li>
    {{#if (js-x "this.filterBy('state', p1).length > 1" item.packages state)}}
      <div class="text-center">{{item.itemType.name}}</div>
    {{/if}}

    {{receive-item state=state itemId=item.id refresh="refresh"}}
  </li>
{{/each}}
</ul>
