<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "gogovan.book_van.title"}}</h1>
  </section>
</nav>

{{#validatable-form class="form-horizontal" action="bookVan" on="submit"}}
  <section class="main-section book-van ui">
    <div class="row">
      <div class="small-12 columns">

        <div class="row">
          <h3>{{t "gogovan.book_van.location"}}</h3>
        </div>

        <div class="row location-dropdown">
          {{partial 'delivery/address_details'}}
        </div>

        <div class="row time_heading">
          <h3>{{t "gogovan.book_van.select_day"}}</h3>
          <div class='description'>{{t "gogovan.book_van.crossroads_time"}}</div>
        </div>

        <div class="row time_inputs">
          <div class="small-7 columns date_selector">
            {{view "select-date"
              name='selectedDate'
              id='selectedDate'
              value=''
              selectionBinding='selectedDate'
              required='true'
              placeholder='Date'
              pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
            <i class="fa fa-calendar calender_icon"></i>
          </div>
          <div class="small-5 columns time_selector">
            {{view "select"
              content=controller.timeSlots
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selectionBinding='selectedTime'
              required='true'
              prompt='Time'
              id='selectedTime'
              pattern="[0-9]{1,2}:(00|30)\s?(AM|PM)" }}
            <i class="fa fa-clock-o time_icon"></i>
          </div>
        </div>

        <div class="row extra_details">
          <h3>{{t "gogovan.book_van.requirements"}}</h3>
          <div class='checkbox'>
            {{input type="checkbox" name="speakEnglish" checked=speakEnglish id='1' }}
            <label for='1'><span>{{t "gogovan.book_van.speak_english"}}</span></label>
          </div>

          <div class='checkbox'>
            {{input type="checkbox" name="borrowTrolley" checked=borrowTrolley id='2' }}
            <label for='2'><span>{{t "gogovan.book_van.trolly_cost"}}</span></label>
          </div>

          <div class='checkbox'>
            {{input type="checkbox" name="porterage" checked=porterage id='3' }}
            <label for='3'><span>{{t "gogovan.book_van.porterage"}}</span></label>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="btm sticky-bottom">
    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <button type="submit" class='button expand book_van'>{{t "gogovan.book_van.get_quote"}}</button>
      </div>
    </div>
  </div>
{{/validatable-form}}
