<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Select Time</h1>
  </section>
</nav>

<section class="main-section book-timeslot">
  <div class="row">
    <div class="small-12 columns">

      <div class='schedule-info'>Pick preferred date/time. First available times listed below.</div>

      <ul>
        {{#each item in model}}
          <li>
            {{view 'radio-button' name="timeslot" selection=this.controller.isSelected value=item.id id=item.id}}
            <label {{bind-attr for=id}}>
              <label class='schdule-date' {{bind-attr for=item.id}}>{{display-date item.scheduledAt}}</label><br/>
              {{item.slotName}}
            </label>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-6 columns">
      <button {{ action 'assignSchedule'}} class='button expand'>Book Time</button>
    </div>
    <div class="small-6 columns">
      <a href="#" {{ action ''}} class="button secondary expand">Show More</a>
    </div>
  </div>
</div>
