<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "plan_delivery.alternate.collection_charges"}}</h1>
  </section>
</nav>

<section class="main-section charges_details">
  <div class="row">
    <div class="small-12 columns">

      {{#if isChinesePage}}
        {{partial 'offer/collection_charges_chinese'}}
      {{else}}
        {{partial 'offer/collection_charges_english'}}
      {{/if}}

    </div>
  </div>
</section>
