<li class='inbox_page'>
  {{#link-to 'review_offer' offer}}
    <span class="item-image">
      <img {{bind-attr src=offer.displayImageUrl}} class="thumb small" />
    </span>

    <div class="row offer">
      <div class="small-11 columns">
        <span class="info">
          <h3>
            {{t "full_name" firstName=offer.createdBy.firstName lastName=offer.createdBy.lastName}}
          </h3>

          <div class='time_indicator'>
            {{!-- Deleted Offer --}}
            {{#if offer.isDeleted}}
              Deleted by {{offer.createdBy.firstName}} {{offer.createdBy.lastName}}
              <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.receivedAt smallPrefix=true}}

            {{!-- Submitted Offer --}}
            {{else if offer.isSubmitted}}
              Submitted <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.submittedAt smallPrefix=true}}

            {{!-- Offer Under Review --}}
            {{else if offer.isUnderReview}}
              {{t "review_offer.review_started_by" firstName=offer.reviewedBy.firstName lastName=offer.reviewedBy.lastName}}
              <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.reviewedAt smallPrefix=true}}

            {{!-- Offer Completed with Review --}}
            {{else if offer.isReviewed}}
              {{t "review_offer.reviewed"}}
              <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.reviewCompletedAt smallPrefix=true}}.
              {{t "review_offer.plan_transport"}}

            {{!-- Closed Offer --}}
            {{else if offer.isClosed}}
              Closed by {{offer.createdBy.firstName}} {{offer.createdBy.lastName}}
              <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.reviewCompletedAt smallPrefix=true}}

            {{!-- Received Offer --}}
            {{else if offer.isReceived}}
              Received by {{offer.createdBy.firstName}} {{offer.createdBy.lastName}}
              <i class="fa fa-clock-o"></i>
              {{view 'time-ago' timeValue=offer.receivedAt smallPrefix=true}}

            {{!-- Scheduled Offer --}}
            {{else if offer.isScheduled}}

              {{#if offer.delivery.isAlternate}}
                {{t 'offer.offer_details.is_collection'}}
              {{else if offer.delivery.isDropOff}}
                {{t 'offer.offer_details.is_drop_off'}}
              {{else if offer.delivery.isGogovan}}
                {{t 'offer.offer_details.is_gogovan'}}
              {{/if}}

              <i class="fa fa-truck"></i>
              <b>
                {{#if offer.delivery.isGogovan}}
                  {{offer.delivery.schedule.slotName}},
                {{/if}}

                {{schedule-time-status offer.delivery.schedule.scheduledAt}}

                {{#if offer.delivery.noGogovan}}
                  , {{offer.delivery.schedule.dayTime}}
                {{/if}}
              </b>

            {{/if}}
          </div>

          <div>
            {{offer.approvedItems.length}} Accepted,
            {{offer.rejectedItems.length}} rejected,
            {{offer.submittedItems.length}} pending
          </div>
        </span>
      </div>

      <div class="small-1 columns">
        {{#if offer.unreadMessagesCount}}
          <span class='unread_length'>{{offer.unreadMessagesCount}}</span>
        {{/if}}
      </div>
    </div>
  {{/link-to}}
</li>
