<div class="row">
  <div class="small-12 columns detail_container">
    <div class="row top">
      <div class="small-3 columns">
        {{#link-to "package.edit_images" view.pkgid}}
          <img src="{{view.imageUrl}}" class="thumb small">
        {{/link-to}}
      </div>
      <div class="small-7 columns head">
        <span class="ui">
          {{view "select"
            content=view.itemval.subItemTypes
            optionValuePath="content.itemTypeId"
            optionLabelPath="content.name"
            selection="view.packagetype"
            value=view.packagetypeid
            prompt='Package Type'
            required='true'
          }}
        </span>
      </div>
      <div class="small-2 columns icon" {{action "hideComment" on="click" target="view"}}>
        <i class="fa fa-lg {{if view.isHide 'fa-plus' 'is-hide'}}"></i>
      </div>
    </div>
    <div class="{{if view.isHide 'is-hide'}} row bottom ui">
      <div class="small-10 columns head">
        {{input
          type="text"
          name="comment"
          value=view.comment
          placeholder="Comments"
          maxlength="50"
        }}
      </div>
      <div class="small-2 columns icon" {{action "hideComment" on="click" target="view"}}>
        <i class="fa fa-minus fa-lg"></i>
      </div>
    </div>
    <div class="row bottom">
      <div class="small-6 columns ui inner">
        {{input
          type="number"
          name="qty"
          value=view.quantity
          placeholder="Qty"
          maxlength="8"
          required="required"
        }}
      </div>
      <div class="small-2 columns ui inner">
        {{input
          type="number"
          name="length"
          value=view.length
          placeholder="L"
          maxlength="8"
        }}
      </div>
      <div class="small-2 columns ui inner">
        {{input
          type="number"
          name="width"
          value=view.width
          placeholder="W"
          maxlength="5"
        }}
      </div>
      <div class="small-2 columns ui inner">
        {{input
          type="number"
          name="height"
          value=view.height
          placeholder="H"
          maxlength="5"
        }}
      </div>
    </div>
  </div>
</div>

