<section class="message-section">
  <div class="row">
    <div class="small-12 columns">
      {{#if noMessage}}
        <p>
          <i class="icon-empty-items fa fa-info-circle fa-5x"></i>
          <p class="no-items">{{t "item.messages.info_text1" }}</p>
          <p class="no-items">{{t "item.messages.info_text2" }}</p>
        </p>
      {{else}}
        {{#each message in allMessages}}
          <div {{bind-attr class='message.myMessage:my_message:received_message'}} {{bind-attr id=message.id}}>
            <div class='message_details'>
              {{#if message.myMessage}}
                {{t "messages.owner" }}
              {{else}}
                {{view 'custom-img-tag' src=message.sender.displayImageUrl class="user-avatar"}}
                {{t "full_name" firstName=message.sender.firstName lastName=message.sender.lastName}}
                {{message.sender.roleInitials}}
              {{/if}}
              →
              {{display-message-time message.createdAt}}
            </div>

            {{message.body}}
          </div>
        {{/each}}
      {{/if}}

    </div>
  </div>
</section>

<div class="btm message-form">
  <div class="row message-textbar">
    <div class="small-12 columns">

      {{#validatable-form class="form-horizontal" action="sendMessage" on="submit"}}

        <div class="row">
          <div class="small-9 large-10 medium-10 columns">
            {{textarea type='text' value=body name="body" rows=1 cols=20 required='true'}}
          </div>
          <div class="small-3 large-2 medium-2 columns">
            <button>Send</button>
          </div>
        </div>
      {{/validatable-form}}
    </div>
  </div>
</div>

