<nav class="tab-bar my-notifications">
  <div class="row">
    <div class="small-5 large-6 columns link">
      <a hreaf="#" {{action 'toggleShowUnread'}}>
        {{#if showUnread}}
          {{t "my_notifications.all_notifications"}}
        {{else}}
          {{t "my_notifications.show_unread"}}
        {{/if}}
      </a>
    </div>
    <div class="small-5 large-6 columns link">
      <a hreaf="#" {{action 'markAllRead'}}>
        {{t "my_notifications.mark_all_read"}} <i class="fa fa-check"></i>
      </a>
    </div>
    <div class="small-2 columns">
    </div>
  </div>
</nav>

<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <ul class="list list-notifications">
      {{#each myNotifications as |notification|}}
        <li>{{partial "notificationThread"}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</section>
