<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'tour' classNames='back'}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "application.register"}}</h1>
  </section>

  <section class="right-small">
    {{#link-to 'login'}}{{t "application.login"}}{{/link-to}}
  </section>
</nav>

{{#validatable-form class="form-horizontal" action="registerUser" on="submit"}}
  <section class="main-section">
    <div class="row">
      <div class="small-12 columns">

          <div class="mobile">
            <div class="row">
              <div class="small-12 columns ui">
                <label>{{t "register.hk_only"}}</label>
              </div>
            </div>

            <div class="row collapse">
              <div class="small-3 columns ui">
                <label>+852</label>
              </div>
              <div class="small-9 columns ui">
                {{view 'numeric-input' value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" placeholder="Phone number" required='true' pattern=".{8,}" }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns ui">
              <label>{{t "register.given_name"}}
                {{input type="text" value=firstName name="firstName" id='first_name' placeholder="John" required='true' pattern="^[\S ]*[\S][\S ]*$"}}
              </label>
            </div>
            <div class="small-6 columns ui">
              <label>{{t "register.family_name"}}
                {{input type="text" value=lastName name="lastName" id='last_name' placeholder="Doe" required='true' pattern="^[\S ]*[\S][\S ]*$"}}
              </label>
            </div>
          </div>

          {{districts-territory}}

        <p class="form-note">Please fill in all the fields. <a href="#">How we use your personal information</a></p>

      </div>
    </div>
  </section>

  <div class="btm sticky-bottom">
    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <button id="registerUser" type="submit" class="button expand">{{t "register.register"}}</button>
      </div>
    </div>
  </div>
{{/validatable-form}}
