<a {{action "toggleOfferOptions"}}><i class="fa fa-ellipsis-v options"></i></a>

<div class="options_menu_list {{if displayOfferOptions '' 'hidden'}}">
  {{#unless offer.isFinished}}
    <div class="add_item_option option_menu">
      <a id="camera_icon" {{action "addItem"}} title="Camera" >
        <i class="fa fa-camera"></i>
        Add an item
      </a>
    </div>
  {{/unless}}

  <div class="option_menu">
    {{inactive-offer offer=offer toggleAction="toggleOfferOptions"}}
  </div>

  <div class="option_menu">
    {{cancel-offer offer=offer toggleAction="toggleOfferOptions"}}
  </div>

  <div class="option_menu">
    <a {{action "cancelOffer"}}>
      <i class="fa fa-trash"></i>
      Delete Offer
    </a>
  </div>

</div>
