<div class="row">
  <div class="small-12 columns search-box ui">
    {{input type="text" value=searchText name="searchText" id="searchText" placeholder="Search"}}

    {{#if hasSearchText}}
      <i class="fa fa-times-circle" {{action "clearSearch"}}></i>
    {{else}}
      <i class="fa fa-search"></i>
    {{/if}}
  </div>
</div>

<section class="main-section review_offer search">
  <div class="row">
    <div class="small-12 columns item-content">
      {{#if filteredResults}}
        <ul class="list list-activity list-offer-items">
          {{#each filteredResults as |offer|}}
            {{partial 'offers/offer_details'}}
          {{/each}}
        </ul>
      {{else if hasFilter}}
        <div class='no_result'>{{t "search.no_results"}}</div>
      {{/if}}
    </div>
  </div>
</section>
